.TVShow{
    max-width: 1200px;
    margin: 10px auto;
    padding: 10px 15px;
}
.Show-wrapper{
    display: flex;
}
.Show__image-wrapper img{
    border-radius: 10px;
}
.Show__info{
    padding: 0 30px;
}
.Show__item{
    padding: 10px 5px;
}

.Show__item i{
    color: #d6d617
}
.Show__mini-title{
    font-weight: bold;
}

.Show__summary{
    padding-left: 35px;
    width: 30%;
}
.Show__summary p{
    line-height: 30px;
}
